In [4]:
from collections import Counter
import numpy as np

def marginal_prob(chars):
    frequencies = dict(Counter(chars.values()))
    sum_frequencies = sum(frequencies.values())
    return {char: freq / sum_frequencies for char, freq in frequencies.items()}
                
def chance_homophily(chars):
    marginal_probs = marginal_prob(chars)
    return np.sum(np.square(list(marginal_probs.values())))

favorite_colors = {
    "ankit":  "red",
    "xiaoyu": "blue",
    "mary":   "blue"
}

color_homophily = chance_homophily(favorite_colors)
print(color_homophily)

0.5555555555555556

In [5]:
import pandas as pd

In [6]:
df  = pd.read_csv("https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@individual_characteristics.csv", low_memory=False, index_col=0)

In [9]:
df1 = df[(df["village"]==1)]
df2 = df[(df["village"]==2)]

In [28]:
df1[0:101]

,village,adjmatrix_key,pid,hhid,resp_id,resp_gend,resp_status,age,religion,caste,...,privategovt,work_outside,work_outside_freq,shgparticipate,shg_no,savings,savings_no,electioncard,rationcard,rationcard_colour
0,1,5,100201,1002,1,1,Head of Household,38,HINDUISM,OBC,...,PRIVATE BUSINESS,Yes,0.0,No,NaN,No,NaN,Yes,Yes,GREEN
1,1,6,100202,1002,2,2,Spouse of Head of Household,27,HINDUISM,OBC,...,NaN,NaN,NaN,No,NaN,No,NaN,Yes,Yes,GREEN
2,1,23,100601,1006,1,1,Head of Household,29,HINDUISM,OBC,...,OTHER LAND,No,NaN,No,NaN,No,NaN,Yes,Yes,GREEN
3,1,24,100602,1006,2,2,Spouse of Head of Household,24,HINDUISM,OBC,...,PRIVATE BUSINESS,No,NaN,Yes,1.0,Yes,1.0,Yes,No,NaN
4,1,27,100701,1007,1,1,Head of Household,58,HINDUISM,OBC,...,OTHER LAND,No,NaN,No,NaN,No,NaN,Yes,Yes,GREEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,393,108802,1088,2,2,Spouse of Head of Household,55,HINDUISM,OBC,...,PRIVATE BUSINESS,No,NaN,No,NaN,No,NaN,Yes,Yes,GREEN
97,1,394,108803,1088,3,1,Other,30,HINDUISM,OBC,...,OTHERS,No,NaN,No,NaN,No,NaN,Yes,Yes,GREEN
98,1,395,108804,1088,4,2,Other,25,HINDUISM,OBC,...,OWN LAND,No,NaN,No,NaN,No,NaN,Yes,Yes,-999
99,1,397,108901,1089,1,1,Head of Household,45,HINDUISM,OBC,...,OWN LAND,No,NaN,No,NaN,No,NaN,Yes,No,NaN
100,1,398,108902,1089,2,2,Spouse of Head of Household,35,HINDUISM,OBC,...,OWN LAND,No,NaN,No,NaN,No,NaN,Yes,Yes,NaN

In [12]:
sex1      = dict(zip(df1.pid, df1.resp_gend))
caste1    = dict(zip(df1.pid, df1.caste))
religion1 = dict(zip(df1.pid, df1.religion))

sex2      = dict(zip(df2.pid, df2.resp_gend))
caste2    = dict(zip(df2.pid, df2.caste))
religion2 = dict(zip(df2.pid, df2.religion))

In [14]:
caste2[202802]

'OBC'

In [15]:
sex1_homo = chance_homophily(sex1)
caste1_homo = chance_homophily(caste1)
religion1_homo = chance_homophily(religion1)

sex2_homo = chance_homophily(sex2)
caste2_homo = chance_homophily(caste2)
religion2_homo = chance_homophily(religion2)

In [16]:
sex1_homo, sex2_homo

(0.5027299861680701, 0.5005945303210464)

In [17]:
caste1_homo, caste2_homo

(0.6741488509791551, 0.425368244800893)

In [18]:
religion1_homo, religion2_homo

(0.9804896988521925, 1.0)

In [19]:
def homophily(G, chars, IDs):
    """
    Given a network G, a dict of characteristics chars for node IDs,
    and dict of node IDs for each node in the network,
    find the homophily of the network.
    """
    num_same_ties, num_ties = 0, 0
    for n1 in G.nodes():
        for n2 in G.nodes():
            if n1 > n2:   # do not double-count edges!
                if IDs[n1] in chars and IDs[n2] in chars:
                    if G.has_edge(n1, n2):
                        # Should `num_ties` be incremented?  What about `num_same_ties`?
                        num_ties += 1
                        num_same_ties = 0
                        if chars[IDs[n1]] == chars[IDs[n2]]:
                            # Should `num_ties` be incremented?  What about `num_same_ties`?
                            num_same_ties += 1
                            num_ties = 0
    return (num_same_ties / num_ties)

In [20]:
data_filepath1 = "https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@key_vilno_1.csv"
data_filepath2 = "https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@key_vilno_2.csv"

village1 = pd.read_csv(data_filepath1)
village2 = pd.read_csv(data_filepath2)

In [26]:
village2[:101]

     Unnamed: 0       0
0             0  200101
1             1  200102
2             2  200103
3             3  200104
4             4  200105
..          ...     ...
96           96  202306
97           97  202401
98           98  202402
99           99  202403
100         100  202404

[101 rows x 2 columns]